.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}


.tasksList{
  list-style: none;
  padding: 0;
}
/*.butons-blick{*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*}*/
.btn-filter-active{
  background-color: mediumaquamarine;
  color: white;
  border: none;
}
.task-span{
  font-weight: bolder;
}
.task-done{
  font-weight: normal;
  opacity: 0.5;
  text-decoration: line-through;
}
.user-error{
  border: 2px solid red;
  outline: none;
}